<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GradeServlet</display-name>
    <servlet-name>GradeServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.GradeServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GradeDeleteServlet</display-name>
    <servlet-name>GradeDeleteServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.GradeDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GradeSaveServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.GradeAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentListServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.StudentListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GradeComboListServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.GradeComboListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentDeleteServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.StudentDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentSaveServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.StudentSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GradeServlet</servlet-name>
    <url-pattern>/gradeList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GradeDeleteServlet</servlet-name>
    <url-pattern>/gradeDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GradeSaveServlet</servlet-name>
    <url-pattern>/gradeSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentListServlet</servlet-name>
    <url-pattern>/studentList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GradeComboListServlet</servlet-name>
    <url-pattern>/gradeComboList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentDeleteServlet</servlet-name>
    <url-pattern>/studentDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentSaveServlet</servlet-name>
    <url-pattern>/studentSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentComboListServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.StudentComboListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentComboListServlet</servlet-name>
    <url-pattern>/studentComboList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StutripListServlet</display-name>
    <servlet-name>StutripListServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.StutripListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StutripListServlet</servlet-name>
    <url-pattern>/stutripList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StutripDeleteServlet</display-name>
    <servlet-name>StutripDeleteServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.StutripDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StutripDeleteServlet</servlet-name>
    <url-pattern>/stutripDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StutripSaveServlet</display-name>
    <servlet-name>StutripSaveServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.StutripSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StutripSaveServlet</servlet-name>
    <url-pattern>/stutripSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoServlet</display-name>
    <servlet-name>InfoServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.InfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoServlet</servlet-name>
    <url-pattern>/InfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripoutSaveServlet</display-name>
    <servlet-name>TripoutSaveServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.TripoutSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripoutSaveServlet</servlet-name>
    <url-pattern>/TripoutSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripinSaveServlet</display-name>
    <servlet-name>TripinSaveServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.TripinSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripinSaveServlet</servlet-name>
    <url-pattern>/TripinSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripbackSaveServlet</display-name>
    <servlet-name>TripbackSaveServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.TripbackSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripbackSaveServlet</servlet-name>
    <url-pattern>/TripbackSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripListServlet</display-name>
    <servlet-name>TripListServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.TripListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripListServlet</servlet-name>
    <url-pattern>/tripList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripCancelServlet</display-name>
    <servlet-name>TripCancelServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.TripCancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripCancelServlet</servlet-name>
    <url-pattern>/tripCancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoSaveServlet</display-name>
    <servlet-name>InfoSaveServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.InfoSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoSaveServlet</servlet-name>
    <url-pattern>/infoSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordModifyServlet</display-name>
    <servlet-name>PasswordModifyServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.PasswordModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordModifyServlet</servlet-name>
    <url-pattern>/passwordModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripAllServlet</display-name>
    <servlet-name>TripAllServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.TripAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripAllServlet</servlet-name>
    <url-pattern>/tripAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripAllSaveServlet</display-name>
    <servlet-name>TripAllSaveServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.TripAllSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripAllSaveServlet</servlet-name>
    <url-pattern>/tripAllSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripOutAllServlet</display-name>
    <servlet-name>TripOutAllServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.TripOutAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripOutAllServlet</servlet-name>
    <url-pattern>/tripOutAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripInAllServlet</display-name>
    <servlet-name>TripInAllServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.TripInAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripInAllServlet</servlet-name>
    <url-pattern>/tripInAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripBackAllServlet</display-name>
    <servlet-name>TripBackAllServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.TripBackAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripBackAllServlet</servlet-name>
    <url-pattern>/tripBackAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAllServlet</display-name>
    <servlet-name>UserAllServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.UserAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAllServlet</servlet-name>
    <url-pattern>/userAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAddServlet</display-name>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.UserAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/userAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserEditServlet</display-name>
    <servlet-name>UserEditServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.UserEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditServlet</servlet-name>
    <url-pattern>/userEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDeleteServlet</display-name>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/userDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswdResetServlet</display-name>
    <servlet-name>PasswdResetServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.PasswdResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswdResetServlet</servlet-name>
    <url-pattern>/passwdReset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTripInServlet</display-name>
    <servlet-name>UserTripInServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.UserTripInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTripInServlet</servlet-name>
    <url-pattern>/userTripIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripInDeleteServlet</display-name>
    <servlet-name>TripInDeleteServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.TripInDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripInDeleteServlet</servlet-name>
    <url-pattern>/tripInDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripOutDeleteServlet</display-name>
    <servlet-name>TripOutDeleteServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.TripOutDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripOutDeleteServlet</servlet-name>
    <url-pattern>/tripOutDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTripOutServlet</display-name>
    <servlet-name>UserTripOutServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.UserTripOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTripOutServlet</servlet-name>
    <url-pattern>/userTripOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTripBackServlet</display-name>
    <servlet-name>UserTripBackServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.UserTripBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTripBackServlet</servlet-name>
    <url-pattern>/userTripBack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripBackDeleteServlet</display-name>
    <servlet-name>TripBackDeleteServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.TripBackDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripBackDeleteServlet</servlet-name>
    <url-pattern>/tripBackDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTripInNoServlet</display-name>
    <servlet-name>UserTripInNoServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.UserTripInNoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTripInNoServlet</servlet-name>
    <url-pattern>/userTripInNo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTripOutNoServlet</display-name>
    <servlet-name>UserTripOutNoServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.UserTripOutNoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTripOutNoServlet</servlet-name>
    <url-pattern>/userTripOutNo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTripBackNoServlet</display-name>
    <servlet-name>UserTripBackNoServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.UserTripBackNoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTripBackNoServlet</servlet-name>
    <url-pattern>/userTripBackNo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyTripInListServlet</display-name>
    <servlet-name>MyTripInListServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.MyTripInListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyTripInListServlet</servlet-name>
    <url-pattern>/myTripInList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyTripOutListServlet</display-name>
    <servlet-name>MyTripOutListServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.MyTripOutListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyTripOutListServlet</servlet-name>
    <url-pattern>/myTripOutList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyTripBackListServlet</display-name>
    <servlet-name>MyTripBackListServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.MyTripBackListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyTripBackListServlet</servlet-name>
    <url-pattern>/myTripBackList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyTripCancelServlet</display-name>
    <servlet-name>MyTripCancelServlet</servlet-name>
    <servlet-class>it.com.zhehang.servlet.MyTripCancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyTripCancelServlet</servlet-name>
    <url-pattern>/myTripCancel</url-pattern>
  </servlet-mapping>
</web-app>